<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="text-gray-700">
        <nav class="p-2 bg-sky-300 shadow sticky top-0 flex flex-row gap-2 justify-between items-center">
            <div class="flex flex-row gap-1 items-center">
                <div class="rounded-full bg-white font-sky-800 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
                      </svg>
                    
                </div>
                <h3 class="font-bold text-white text-3xl">Sciencify</h3>
            </div>
            
            <div class="flex flex-row flex-wrap gap-2">
                <a class="bg-gray-200 rounded py-1 px-2 hover:bg-gray-300 duration-300 text-gray-600 inline-flex items-center gap-2" href="#"><div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 animate-spin">
                    <path fill-rule="evenodd" d="M8.34 1.804A1 1 0 019.32 1h1.36a1 1 0 01.98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 011.262.125l.962.962a1 1 0 01.125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 01.804.98v1.361a1 1 0 01-.804.98l-1.473.295a6.95 6.95 0 01-.587 1.416l.834 1.25a1 1 0 01-.125 1.262l-.962.962a1 1 0 01-1.262.125l-1.25-.834a6.953 6.953 0 01-1.416.587l-.294 1.473a1 1 0 01-.98.804H9.32a1 1 0 01-.98-.804l-.295-1.473a6.957 6.957 0 01-1.416-.587l-1.25.834a1 1 0 01-1.262-.125l-.962-.962a1 1 0 01-.125-1.262l.834-1.25a6.957 6.957 0 01-.587-1.416l-1.473-.294A1 1 0 011 10.68V9.32a1 1 0 01.804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 01.125-1.262l.962-.962A1 1 0 015.38 3.03l1.25.834a6.957 6.957 0 011.416-.587l.294-1.473zM13 10a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                  </div>Measurements</a>
                <a class="bg-gray-200 rounded py-1 px-2 hover:bg-gray-300 duration-300 text-gray-600" href="#">Settings</a>
                <a class="bg-gray-200 rounded py-1 px-2 hover:bg-gray-300 duration-300 text-gray-600" href="#">Users</a>
            </div>
            <div class="flex flex-row flex-wrap gap-2">
                <a class="bg-gray-200 rounded py-1 px-2 hover:bg-gray-300 duration-300 text-gray-600" href="#">Logout</a>

            </div>

        </nav>

        <div class="p-4 flex flex-col gap-4 bg-white">
            <h2 class="font-bold text-3xl underline">User Profile</h2>
            <div>
                <table>
                    <tr>
                        <td class="p-2 font-bold">Name</th>
                        <td>{{data.username|capitalize}}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">Username</th>
                        <td>{{data.username}} {% if data.is_admin %}(admin){% else %} (user){% endif %}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">Interests</th>
                        <td>{{ data.interests|map(attribute='name')|join(', ') }}</td>
                    </tr>
                </table>
            </div>
            
            <h3 class="font-bold text-xl">Tags ({{data.tags|length}})</h3>
            <div class="flex flex-row gap-2 flex-wrap">
                {% for tag in data.tags %}
                    <div class="rounded p-2 bg-sky-200 hover:bg-sky-300 duration-300 text-sky-700 cursor-pointer">{{tag}}</div>
                {% endfor %}
            </div>
    
        </div>
        
    </body>
</html>