<!DOCTYPE html>

<head></head>

<body>

  <h2>{{ data.username|capitalize }}</h2>

  <div>{{data.tags | join(", ") }}</div>

  <div> Number: {{ "%.2f"|format(data.number) |replace(".", ",") }} </div>

  <div>
    {% for tag in data.tags %}
    <span>{{tag|capitalize}}</span>
    {% endfor %}
  </div>


  <div>last login {{data.last_login.strftime("%d.%m.%Y")}}</div>
  <div>last login {{data.last_login.strftime("%d.%m.%Y %H:%M ")}}</div>

  <div>{{data.interests|map(attribute='name')|join(", ")}}</div>

</body>

</html>